<div class="container col-6 mt-5">
    <div class="row justify-content-md-center">

        <span class="border p-5">
            <div class="col-sm-8 m-3"><img src="../../assets/logo.png" alt=""> <br></div>

            <div class="col-sm-12 px-3">
                <form>
                    <div class="form-group mx-3">
                        <h6 class="float-end mb-2">Amout:  {{loggedUser.total}}</h6>
                        

                        <div class="mb-3">
                            <label for="bankName" class="form-label">Bank Name</label>
                            <select name="bankName" id="bankName" class="form-control form-select">
                              <option> Banque Al-Baraka </option>
                              <option> Arab Tunisian Bank (ATB) </option>
                              <option> Banque Franco Tunisienne (BFT) </option>
                              <option> Banque Nationale Agricole (BNA) </option>
                              <option> Attijari Bank </option>
                              <option> Banque de Tunisie (BT) </option>
                              <option selected> Amen Bank (AB) </option>
                              <option> Banque Internationale Arabe de Tunisie (BIAT) </option>
                              <option> Société Tunisienne de Banque (STB) </option>
                              <option> Union de Bancaire pour le Commerce et l’Industrie (UBCI) </option>
                              <option> Union Internationale de Banques (UIB) </option>
                              <option> Banque de l'Habitat (BH) </option>
                              <option> Citibank </option>
                              <option> Banque Tunisienne de Solidarite (BTS) </option>
                              <option> Arab Banking Corporation (ABC) and its subsidiary: ABC Tunisie </option>
                              <option> Tunisian Qatari Bank (TQB) </option>
                              <option> Banque de Tunisie et des Emirats (BTE) </option>
                              <option> Banque Tuniso-Koweitienne (BTK) </option>
                              <option> Banque de Financement des Petites et Moyennes Enterprises (BFPME) </option>
                              <option> Banque Tuniso-Libyenne (BTL) </option>
                              <option> Stusid Bank (STUSID) </option>
                              <option> Banque Zitouna (ZITOUNA) </option>
                              <option> Al Wifak Bank (WIFAK) </option>
                            </select>
                          </div>
                          <div class="mb-3">
                            <label for="rib" class="form-label">RIB</label>
                            <input type="text" name="rib" id="rib" class="form-control">
                          </div>
              
                            <div class="row justify-content-md-center mb-3">
                                <button type="button" class="btn btn-outline-success">Pay</button>
                            </div>
                            

                            
                        
                        </div>
                </form>
            </div>

        </span>
    </div>

</div>