<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Internship Application</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
            <li class="nav-item m-2">
                <a class="nav-link btn btn-sm btn-outline-secondary" routerLink="/">Home</a>
            </li>
          <li class="nav-item m-2">
            <a class="nav-link btn btn-sm btn-outline-secondary" routerLink="/products">Products</a>
          </li>
          <li class="nav-item m-2">
            <a class="nav-link btn btn-sm btn-outline-secondary" routerLink="/purchases">Purchase</a>
          </li>

        </ul>
        
      </div>
    </div>
</nav>
<div class="container mt-4"><router-outlet></router-outlet></div>
